<h1>Lista de productos del carrito {{this.cid}}:</h1>
<ol>
    {{#each products}}
        <li>
            <ul>
                <li>ID: {{this._id}}</li>
                <li>Nombre: {{this.title}}</li>
                <li>Precio: {{this.price}}</li>
                <li>Código: {{this.code}}</li>
                <li>Categoría: {{this.category}}</li>
                <li>Descripción: {{this.description}}</li>
                <li>Cantidad: {{this.quantity}}</li>
                <li>Subtotal: {{this.subtotal}}</li>
            </ul>
            <br>
        </li>
    {{/each}}
</ol>
<button id = "PurchasedButton" data-id="{{this.cid}}">Purchased</button>
<script>
    const btnPurchased = document.getElementById('PurchasedButton');
    btnPurchased.addEventListener('click', function() {
        let id = this.getAttribute("data-id");
        fetch(`/api/carts/${id}/purchase`, {
            method: 'PUT'
        })
        .then(res => res.json())
        .then(data => {
            console.log(data);
        })
    })
</script>
{{>menu}}
